.goods {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 20px;
}

.goods-card {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.goods-card * {
  margin: 0;
  padding: 0;
}

.goods-card img {
  height: 120px;
  margin-bottom: 20px;
  object-fit: cover;
}

.goods-card h3 {
  position: relative;
  margin-bottom: 10px;
  font-size: 20px;
  color: rgb(49, 192, 239);
}

.goods-card h3::before {
  position: absolute;
  left: -20px;
  width: 10px;
  height: 100%;
  content: "";
  background: rgb(49, 192, 239);
}
